*.DS_Store
*.swp
*~
*.class
*.tasty
target/
metals.sbt
logs/
.bloop
.bsp
.dotty-ide-artifact
.dotty-ide.json
.idea
.metals
.vscode
*.csv
*.dat
.bsp
report/latex/report.dvi
report/latex/report.log
report/latex/report.blg
report/latex/report.bbl
report/latex/report.aux
package-lock.json
node_modules/
bin/
wasmout/